body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(181, 207, 247, 0.753);

}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(91, 121, 116);
    width: 400px;
    height: 500px;

    border-radius: 5%;
    box-shadow: 0 0 20px 1px rgba(62, 95, 88, 0.795);
}

.container:hover {
    background-color: rgb(58, 107, 100);
    box-shadow: 0 0 25px 3px rgba(32, 110, 93, 0.795);
}

.heading {
    font-family: Playfair Display;
    text-decoration: solid;
    letter-spacing: 3px;
    color: rgb(230, 202, 167);
    font-weight: 700;
}

.joke {
    color: rgb(223, 204, 179);
    font-family: PT Sans Narrow;
    font-size: 25px;
    text-align: center;
    margin-top: 80px;

}

.btn {

    border-radius: 50px;
    width: 350px;
    height: 50px;
    margin-top: 50px;
    background-color: antiquewhite;
    color: black;
    font-size: 16px;
    border: none;

    transition: background 8s;
}

.btn:hover {
    cursor: pointer;
    background: rgb(211, 159, 91);

    box-shadow: 0 0 20px 3px rgba(192, 190, 157, 0.795);
    text-transform: uppercase;
}


/* 
crafted on Sat,Mar 25 2023 | Tamil Nadu INDIA 
*/